<!-- templates/base.html -->


{% load django_bootstrap5 %}

{% bootstrap_css %}

{% bootstrap_javascript %}

{% bootstrap_messages %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Birthday App{% endblock %}</title>

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
        <a class="navbar-brand" href="{% url 'birthday_list' %}">Birthday App</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls=#navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'birthday_list' %}">Current & Next Month</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'add_birthday' %}">Add Birthday</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'search_birthday' %}">Search Birthday</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'search_month_birthday' %}">Search Birthday by month</a>
                </li>

            </ul>
        </div>
    </div>
    </nav>

    {% load static %}


    <div class="container bg-light">


        <div>

 


        <p>  </p>
        <p>  </p>
        <p>  </p>
        <p>   </p>
        <p>   </p>
        <p>   </p>

          
        <div>



           
            {% block content %}     
            {% endblock %}
        </div>
   
    
         
      
        {% block scripts %}
        {% endblock %}

    {% load static %}
          </div>
    
    </div>
    


</body>

<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>




</html>
